{% extends "base.html" %}
{% load static %}
{% block title %}- About{% endblock %}

{% block content %}
    <div class="candidate-info">
        <img src="/static/img/ProfileRafael.jpg" alt="Rafael Pinto">
        <div>
            <h1 class="my-4">Rafael Pinto</h1>
        </div>
    </div>
    <p class="mt-3">Hello, I am Rafael Pinto, a Senior Software Developer with 20 years of experience in software development. ResumeBot is a project that I have created as part of my personal portfolio to demonstrate my skills and expertise in building web applications using advanced technologies.</p>
    <p>The main objective of ResumeBot is to provide a platform where users can interact with a chatbot to ask questions about candidates' resumes. This project showcases the use of natural language processing and machine learning to deliver accurate and relevant responses in real-time.</p>
    <p>Key technologies used in this project include:</p>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>LangChain</li>
        <li>OpenAI</li>
        <li>JavaScript (jQuery)</li>
        <li>Bootstrap</li>
    </ul>
     <p>If you have any questions, ask my <a href="/rafael-pinto/">ResumeBot</a> :) but if you want to get in touch, reach out to me on <a href="https://www.linkedin.com/in/rafaelmpinto/">LinkedIn</a>.</p>
{% endblock %}