{% extends "base.html" %}

{% block title %}- {{ candidate.name }}{% endblock %}

{% block content %}
    <div class="candidate-info">
        {% if candidate.image %}
            <img src="{{ candidate.image.url }}" alt="{{ candidate.name }}">
        {% endif %}
        <div>
            <h1 class="my-4">{{ candidate.name }}</h1>
            {% if candidate.phone %}
                <p>Phone: {{ candidate.phone }}</p>
            {% endif %}
            {% if candidate.linkedin %}
                <p>LinkedIn: <a href="{{ candidate.linkedin }}">{{ candidate.linkedin }}</a></p>
            {% endif %}
        </div>
    </div>

    {% if not request.session.user_id %}
        <form id="user-form" class="mb-4">
            <div class="form-group">
                <p>Welcome to ResumeBot! I am designed to answer questions about the candidate's resume. To better assist you, I kindly ask that you identify yourself by providing your name and email below. This information is important for recording your interactions and providing a more personalized service. Thank you for your understanding!</p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}

        <div id="chat-box" class="chat-box">
            <!-- Chat messages will be appended here -->
        </div>
        <p>{% if user_name %}Welcome, {{ user_name }}!{% endif %} Feel free to ask any questions about my resume.</p>
        <form id="chat-form" class="mb-4">
            <div class="form-group">
                <label for="question">Question:</label>
                <input type="text" id="question" name="question" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    {% endif %}

{% endblock %}

{% block extra_js %}
<script>
    function scrollToBottom() {
        let chatBox = document.getElementById('chat-box');
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    $(document).ready(function() {
        $('#user-form').on('submit', function(event) {
            event.preventDefault();
            let name = $('#name').val();
            let email = $('#email').val();
            $.ajax({
                url: "{% url 'chat' candidate.slug %}",
                method: 'POST',
                data: {
                    name: name,
                    email: email,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    location.reload(); // Reload the page to show the chat form
                }
            });
        });

        $('#chat-form').on('submit', function(event) {
            event.preventDefault();
            let question = $('#question').val();
            if (question.trim() === "") {
                return;
            }

            // Append user question to chat box
            $('#chat-box').append('<div class="chat-message user"><p><strong>You:</strong> ' + question + '</p></div>').show();
            scrollToBottom();

            $.ajax({
                url: "{% url 'chat' candidate.slug %}",
                method: 'POST',
                data: {
                    question: question,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    // Append bot response to chat box
                    $('#chat-box').append('<div class="chat-message bot"><p><strong>{{ candidate.name }}:</strong> ' + response.response + '</p>');
                    $('#question').val('');
                    // Scroll to the bottom of the chat box
                    scrollToBottom();
                }
            });
        });
    });
</script>
{% endblock %}