{% extends "base.html" %}

{% block title %}- Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 order-md-1">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">Candidate Profile</h4>
            <div>
                <a href="{% url 'manager_candidate' %}" class="btn btn-primary btn-sm mr-2">Edit Profile</a>
                <a href="{% url 'password_change' %}" class="btn btn-secondary btn-sm">Change Password</a>
            </div>
        </div>
        <div class="candidate-info">
            {% if candidate.image %}
                <img src="{{ candidate.image.url }}" alt="{{ candidate.name }}" class="img-thumbnail mb-3">
            {% endif %}
            <div>
                <h4 class="my-4">{{ candidate.name }}</h4>
                <ul class="list-unstyled">
                    <li><strong>Email:</strong> {{ candidate.email }}</li>
                    {% if candidate.phone %}
                        <li><strong>Phone:</strong> {{ candidate.phone }}</li>
                    {% endif %}
                    {% if candidate.linkedin %}
                        <li><strong>LinkedIn:</strong> <a href="{{ candidate.linkedin }}" target="_blank">{{ candidate.linkedin }}</a></li>
                    {% endif %}
                    <li>Public profile: {{ candidate.public_profile|yesno:"Yes,No" }}</li>
                    <li><a href="{% url 'chat' candidate.slug %}">My ResumeBot</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
