{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 order-md-1">
            <h4 class="mb-12">Password Reset Confirmation</h4>
            {% if validlink %}
                <p>Please enter your new password twice so we can verify that you typed it correctly.</p>
                <form class="underline-form" action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="form-group">
                        <input type="submit" name="submit" value="Change my password" class="btn btn-primary" id="submit-id-submit" />
                    </div>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}