{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 order-md-1">
            <h4 class="mb-12">Password Change</h4>
            <p>Please enter your old password for security reasons, and then enter your new password twice, so we can verify that you typed everything correctly.</p>
            <form class="underline-form" action="" method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="form-group">
                    <input type="submit" name="submit" value="Change my password" class="btn btn-primary" id="submit-id-submit" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
