{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 order-md-1">
            <h4 class="mb-12">Password Reset Sent</h4>
            <p>We have sent you an email with instructions to set up your password, if an account with the provided email exists.</p>
            <p>You will receive the message shortly.</p>
            <p>If you did not receive an email, please ensure that you provided the email you are registered with, and check your spam folder.</p>
        </div>
    </div>
{% endblock %}
